# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
bundle.json
large-bundle*
*bundle.json
.env
model.h5
temp-model.h5
*-bundle-after-corona.json
node_modules
clean_data.json